:root {
  --title-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --phrase-color: #757575;
  --logo-color: #000000;
  --background-section: #e5e5e5;
  --background-hero: #2f303a;
  --background-btn-grey: #f5f4fa;
  --background-btn-blue: #188ce8;
  --contact-color: #c4c4c4;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--phrase-color);
  background-color: var(--white-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .main-nav {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
  }
  .menu-container.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px 40px;
    background-color: var(--white-color);
    overflow: auto;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.site-nav__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: transparent;
}

@media screen and (min-width: 768px) {
  .site-nav__button {
    display: none;
  }
}

.site-nav__button--open {
  width: 40px;
  height: 40px;
}

.site-nav__button--close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 8px;
}

.site-nav__icon {
  fill: var(--logo-color);
}

.site-nav__button:hover .site-nav__icon,
.site-nav__button:focus .site-nav__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item + .site-nav__item {
    margin-left: 50px;
  }
}

.site-nav__link {
  color: var(--title-color);
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175px;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    font-size: 14px;
    line-height: 1.14px;
  }
}

.site-nav__current {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .site-nav__current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    right: 0;
    background: #2196F3;
    border-radius: 2px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}

.logo--light {
  color: var(--white-color);
}

.logo--dark {
  color: var(--logo-color);
}

@media screen and (min-width: 768px) {
  .contacts {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 305px;
  }
}

.contacts__link {
  color: var(--phrase-color);
  display: block;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.contacts__mail {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .contacts__mail {
    font-size: 12px;
    margin-bottom: 0;
  }
}

.contacts__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacts__tel {
    color: var(--phrase-color);
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__tel {
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.contacts__mail-icon,
.contacts__tel-icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .contacts__mail-icon,
  .contacts__tel-icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}

.contacts__social {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .contacts__social {
    display: none;
  }
}

.contacts__social-item {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.contacts__social-item--first {
  padding-left: 0;
  border-left: 0;
}

.button {
  display: inline-block;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  min-width: 73px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--blue {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding: 10px;
  color: var(--white-color);
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--blue:hover, .button--blue:focus {
  background-color: var(--background-btn-blue);
}

.button--grey {
  padding: 6px 22px;
  color: var(--title-color);
  background-color: var(--background-btn-grey);
  border-color: transparent;
  border-radius: 4px;
}

.button--grey:hover, .button--grey:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
}

.social-list__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon:hover, .social-list__icon:focus {
  fill: var(--white-color);
  background-color: var(--accent-color);
}

.social-list__icon--theme-light {
  fill: #afb1b8;
  background-color: transparent;
}

.social-list__icon--theme-dark {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  text-align: center;
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .main-title {
    margin-left: 160px;
    margin-right: 160px;
  }
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    margin-left: auto;
    margin-right: auto;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding: 90px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 500ms linear, visibility 500ms linear, transform 500ms linear;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  position: relative;
  min-width: 320px;
  padding: 40px;
  background-color: var(--white-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-svg {
  fill: black;
}

.modal__button-close:hover .modal__close-svg,
.modal__button-close:focus .modal__close-svg {
  fill: var(--accent-color);
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__field--comment {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 11px;
  translate: tranformY(-50%);
  fill: var(--title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus ~ .form__icon,
.form__input:hover ~ .form__icon {
  fill: var(--accent-color);
}

.form__input--textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.form__input--textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__policy-text {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form__policy-text {
    font-size: 14px;
  }
}

.form__policy-link {
  color: var(--accent-color);
}

.form__check-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-color);
  border-radius: 4px;
}

.form__check:checked + .form__check-icon {
  border: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form__check:focus + .form__check-icon,
.form__check:hover + .form__check-icon {
  border: 2px solid var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-hero);
}

.footer__container {
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__info {
    display: flex;
    justify-content: space-between;
  }
}

.footer__logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .address {
    width: 52%;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 0;
    align-items: baseline;
  }
}

.address__link {
  display: block;
  margin-top: 0;
  margin-bottom: 9px;
  color: var(--contact-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}

.address__link:last-child {
  margin-bottom: 0;
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .address__link {
    text-align: left;
  }
}

.address__office {
  color: var(--white-color);
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .join {
    width: 48%;
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    padding-top: 12px;
    margin-left: 70px;
    margin-bottom: 0;
    align-items: baseline;
  }
}

.join__title {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscibe {
  width: 100%;
}

.subscribe__title {
  display: block;
  margin-bottom: 20px;
  padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
}

@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

.subscibe__field {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .subscibe__field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscibe__field {
    flex-direction: row;
    align-items: baseline;
  }
}

.subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: transparent;
  outline: none;
  color: var(--white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.subscribe__icon-send {
  fill: var(--white-color);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/fon-portrait.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/fon-portrait@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/fon-normal.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/fon-normal@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/fon-wide.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/studio/hero/fon-wide@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

.benefits__list {
  display: block;
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.benefits__item {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-btn-grey);
}

.benefits__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.74;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .section__services {
    display: none;
  }
}

.services {
  display: flex;
}

.services__item + .services__item {
  margin-left: 30px;
}

.services__image {
  position: relative;
  width: 370px;
  height: 294px;
}

.services__description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  z-index: 1;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.employees {
  background-color: var(--background-btn-grey);
}

.employees__list {
  display: block;
}

@media screen and (min-width: 768px) {
  .employees__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.employees__card {
  width: 100%;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .employees__card {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .employees__card {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .employees__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

.employees__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 30px 32px;
}

.employees__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.employees__prof {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 6 * 30px) / 6);
  }
}

.clients__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92px;
  padding: 16px auto;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon:hover, .clients__icon:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

.filter__item + .filter__item {
  margin-left: 8px;
}

.portfolio {
  display: block;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__card {
  width: 100%;
  background-color: var(--example-card-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .portfolio__card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__card {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__card {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.portfolio__overlay-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.portfolio__overlay {
  display: block;
  padding: 63px 24px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin: 0;
}

.portfolio__description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 24px;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__product {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--phrase-color);
}
/*# sourceMappingURL=main.css.map */