.filter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
    @media screen and (min-width: $tablet) {
        flex-wrap: nowrap;
        justify-content: center;
        margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
    }
}

.filter__item {
    @media screen and (max-width: 767px) {
    margin-bottom: 15px;
    }
    &+& {
    margin-left: 8px;
}
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio__card {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--example-card-color);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:nth-child(3n) {
        margin-right: 0;
    }
    
    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__image {
    display: block;
}

.portfolio__overlay-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    display: inline-block;
    padding: 63px 24px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    .portfolio__card:hover & {
        transform: translateY(0);
    }
}

.portfolio__overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--white-color);
    margin: 0;
}

.portfolio__description {
    width: 370px;
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.portfolio__title {
    margin-top: 0;
    margin-bottom: 4px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__product {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--phrase-color);
}