.modal {
    position: relative;
    min-width: 320px;
    padding: 40px;
    background-color: var(--white-color);

    @media screen and (min-width: $mobile) {
        width: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media screen and (min-width: $desktop) {
        width: 528px;
    }
}

.modal__button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__close-svg {
    fill: black;
    
    .modal__button-close:hover &,
    .modal__button-close:focus & {
        fill: var(--accent-color);
    }
}

.modal__title {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
}