.header {
    border-bottom: 1px solid #ececec;
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
}

.menu-container {
    
    @media screen and (max-width: 767px) {
        display: none;
        
    &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        padding: 48px 40px;
        background-color: var(--white-color);
        overflow: auto;
    }
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin-left: 88px;
    }

    @media screen and (min-width: $desktop) {
        margin-left: 93px;
    }
}


.site-nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: transparent;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.site-nav__button--open {
    width: 40px;
    height: 40px;
    margin-left: auto;
}

.site-nav__button--close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
}

.site-nav__icon {
    fill: var(--logo-color);
    .site-nav__button:hover &,
    .site-nav__button:focus & {
        fill: var(--accent-color);
    }
}

.site-nav {

    @media screen and (min-width: $tablet) {
    display: flex;
    }
}

.site-nav__item {

&+& {
    @media screen and (min-width: $tablet) {
    margin-left: 50px;
}}}

.site-nav__link {
    color: var(--title-color);
    padding-top: 32px;
    padding-bottom: 32px;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175px;
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.14px;
    }
}

.site-nav__current {
    position: relative;
    color: var(--accent-color);
    
    @media screen and (min-width: $tablet) {
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        right: 0;
        background: #2196F3;
        border-radius: 2px;
        }
    }
}
