.header {
    border-bottom: 1px solid #ececec;
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-container {
    padding: 48px 40px;
    background-color: var(--white-color);

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;

    &.is-open {
        display: block;
    }
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
}


.site-nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.site-nav__icon {
    fill: var(--logo-color);
    .site-nav__button:hover &,
    .site-nav__button:focus & {
        fill: var(--accent-color);
    }
}

.site-nav__icon--close-x {
    display: none;
    .site-nav__button.is-open & {
        display: block;
    }
}

.site-nav__button.is-open .site-nav__icon--menu {
    display: none;
}

.site-nav {
    margin-bottom: 300px;

    @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 93px;
    margin-bottom: 0;
    }
}

.site-nav__link {
    color: var(--title-color);
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175px;
    
    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 1.14px;
    }

    @media screen and (min-width: $desktop) {
    &__link + &__link {
        margin-left: 50px;
    }
    }
}

.site-nav__current {
    position: relative;
    color: var(--accent-color);
    
    @media screen and (min-width: $tablet) {
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        right: 0;
        background: #2196F3;
        border-radius: 2px;
        }
    }
}
