.header {
    border-bottom: 1px solid #ececec;
    position: relative;
}

.main-nav {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    &.is-open {
        display: block;
    }
}

.site-nav {
    display: flex;
    margin-left: 93px;
    
    &__item+&__item {
        margin-left: 50px;
    }
}

.site-nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: transparent;
}

.site-nav__icon {
    fill: var(--logo-color);
    .site-nav__button:hover &,
    .site-nav__button:focus & {
        fill: var(--accent-color);
    }
}

.site-nav__icon--close-x {
    display: none;
    .site-nav__button.is-open & {
        display: block;
    }
}

.site-nav__button.is-open .site-nav__icon--menu {
    display: none;
}

.site-nav__link {
    color: var(--title-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__current {
    position: relative;
    color: var(--accent-color);
    
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        bottom: 0;
        right: 0;
        background: #2196F3;
        border-radius: 2px;
    }
}

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
    
    &__item+&__item {
        margin-left: 50px;
    }
}

.contacts__link {
    color: var(--phrase-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts__mail {
    display: flex;
    align-items: center;
    
    &-icon {
        margin-right: 10px;
        fill: currentColor;
    }
}

.contacts__tel {
    display: flex;
    align-items: center;
    
    &-icon {
        margin-right: 10px;
        fill: currentColor;
    }
}