:root {
    --title-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --phrase-color: #757575;
    --logo-color: #000000;
    --background-section: #e5e5e5;
    --background-hero: #2f303a;
    --background-btn-grey: #f5f4fa;
    --background-btn-blue: #188ce8;
    --contact-color: #c4c4c4;
}